{% extends 'base.html.twig' %}

{% block title %}Edit Device{% endblock %}

{% block body %}
<h1>Edit Device: {{ device.serialNumber }}</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Save</button>
{{ form_end(form) }}

<a href="{{ path('app_dashboard') }}">← Back to Dashboard</a>
{% endblock %}
